/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow: hidden;
}

.pre-custom{
    white-space: pre-line;
    font-family: 'Inter', sans-serif;
}

.content{
    background-color: #f5f5f5;
}

.vh-screen{
    height: 90vh;
}

.chart-container canvas{
    height: 35vh !important;
}