<div class="container mx-auto   shadow-md  max-w-md border-l border-r border-[#2f3336] h-screen text-white min-w-[40%]">
    <div class="flex items-center pt-12 px-4 bg-image  h-[200px] w-full bg-cover bg-no-repeat relative">
        <div class="flex items-center pt-12 px-0 absolute top-16 ">
            <img src="../../assets/images/profile.jpg" alt="Profile Avatar"
                class="w-36 h-36 rounded-full mr-4  border-4  border-[#000]">

        </div>
    </div>
    <!-- Profile Header -->

    <div class="flex items-center pt-12 px-4 mt-4">
        <div>
            <h1 class="text-xl font-semibold">Jagdish Patil</h1>
            <p class="text-gray-600">@jagdishpatil02</p>
        </div>
    </div>
    <!-- Bio Section -->
    <div class="mt-4 px-4">
        <p>Hi,
            I'm Jagdish Patil. Frontend developer from India
        </p>
        <!-- <img width="25" src="../../assets/images/hi.gif" class="inline"
        data-canonical-src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif"> -->
    </div>

    <!-- Tweets Section -->
    <div class="mt-6">
        <div class="border-t border-[#2f3336] py-2">
            <p class="text-gray-700">Tweet content goes here...</p>
        </div>
        <!-- Add more tweet elements as needed -->
    </div>

</div>