<div class="container mx-auto   shadow-md  max-w-md border-l border-r border-[#2f3336] h-screen text-white min-w-[40%]">
    <div class="flex items-center pt-12 px-4 bg-image  h-[200px] w-full bg-cover bg-no-repeat relative">
        <div class="flex items-center pt-12 px-0 absolute top-16 ">
            <img src="../../assets/images/profile.jpg" alt="Profile Avatar"
                class="w-36 h-36 rounded-full mr-4  border-4  border-[#000]">

        </div>
    </div>
    <!-- Profile Header -->

    <div class="flex items-center pt-12 px-4 mt-4">
        <div>
            <h1 class="text-xl font-semibold">Jagdish Patil</h1>
            <p class="text-gray-600">@jagdishpatil02</p>
        </div>
    </div>
    <!-- Bio Section -->
    <div class="mt-4 px-4">
        <p>Hi,
            I'm Jagdish Patil. Frontend developer from India
        </p>
    </div>



    <div class="mb-4 border-b border-gray-200 dark:border-gray-700 px-4">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400"
            id="tabs-example" role="tablist">
            <li class="me-2" role="presentation">
                <button
                    class="inline-block rounded-t-lg border-b-2 border-transparent p-4 hover:border-gray-300 hover:text-gray-600 dark:hover:text-gray-300"
                    id="profile-tab-example" type="button" role="tab" aria-controls="profile-example"
                    aria-selected="false">
                    Profile
                </button>
            </li>
            <li class="me-2" role="presentation">
                <button
                    class="inline-block rounded-t-lg border-b-2 border-transparent p-4 hover:border-gray-300 hover:text-gray-600 dark:hover:text-gray-300"
                    id="dashboard-tab-example" type="button" role="tab" aria-controls="dashboard-example"
                    aria-selected="false">
                    Dashboard
                </button>
            </li>
            <li class="me-2" role="presentation">
                <button
                    class="inline-block rounded-t-lg border-b-2 border-transparent p-4 hover:border-gray-300 hover:text-gray-600 dark:hover:text-gray-300"
                    id="settings-tab-example" type="button" role="tab" aria-controls="settings-example"
                    aria-selected="false">
                    Settings
                </button>
            </li>
            <li role="presentation">
                <button
                    class="inline-block rounded-t-lg border-b-2 border-transparent p-4 hover:border-gray-300 hover:text-gray-600 dark:hover:text-gray-300"
                    id="contacts-tab-example" type="button" role="tab" aria-controls="contacts-example"
                    aria-selected="false">
                    Contacts
                </button>
            </li>
        </ul>
    </div>
    <div id="tabContentExample">
        <div class="hidden rounded-lg bg-gray-50 p-4 dark:bg-gray-800" id="profile-example" role="tabpanel"
            aria-labelledby="profile-tab-example">
            <p class="text-sm text-gray-500 dark:text-gray-400">
                This is some placeholder content the
                <strong class="font-medium text-gray-800 dark:text-white">Profile tab's associated content</strong>.
                Clicking another tab will toggle the visibility of this one for
                the next. The tab JavaScript swaps classes to control the content
                visibility and styling.
            </p>
        </div>
        <div class="hidden rounded-lg bg-gray-50 p-4 dark:bg-gray-800" id="dashboard-example" role="tabpanel"
            aria-labelledby="dashboard-tab-example">
            <p class="text-sm text-gray-500 dark:text-gray-400">
                This is some placeholder content the
                <strong class="font-medium text-gray-800 dark:text-white">Dashboard tab's associated content</strong>.
                Clicking another tab will toggle the visibility of this one for
                the next. The tab JavaScript swaps classes to control the content
                visibility and styling.
            </p>
        </div>
        <div class="hidden rounded-lg bg-gray-50 p-4 dark:bg-gray-800" id="settings-example" role="tabpanel"
            aria-labelledby="settings-tab-example">
            <p class="text-sm text-gray-500 dark:text-gray-400">
                This is some placeholder content the
                <strong class="font-medium text-gray-800 dark:text-white">Settings tab's associated content</strong>.
                Clicking another tab will toggle the visibility of this one for
                the next. The tab JavaScript swaps classes to control the content
                visibility and styling.
            </p>
        </div>
        <div class="hidden rounded-lg bg-gray-50 p-4 dark:bg-gray-800" id="contacts-example" role="tabpanel"
            aria-labelledby="contacts-tab-example">
            <p class="text-sm text-gray-500 dark:text-gray-400">
                This is some placeholder content the
                <strong class="font-medium text-gray-800 dark:text-white">Contacts tab's associated content</strong>.
                Clicking another tab will toggle the visibility of this one for
                the next. The tab JavaScript swaps classes to control the content
                visibility and styling.
            </p>
        </div>
    </div>


</div>
<!-- Add more tweet elements as needed -->

<div class="border-[#1d9bf0] border-b-4"></div>